<!DOCTYPE html>
<html lang="en">
{% load i18n %}
{% load static %}
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'index' %}">{% trans "Home" %}</a> | 

    {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }} 
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> | 
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
    {% endif %}
    <hr />
    {% endblock %}
    </div>

	<div class="container wrapper">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message|safe }}
            </div>
        {% endfor %}

        <div id="content">
        {% block content %}{% endblock %}
        </div>

        <div class="push"></div>
	</div>
	<footer class="footer">
		<div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <p class="text-muted">
                        {{ settings.HOSTNAME }} ({{ settings.VERSION }})
                    </p>
                </div>
                <div class="col-xs-4 text-center">
                    <p class="text-muted">{% now 'Y-m-d H:i:s T' %}</p>
                </div>
            </div>
		</div>
	</footer>
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>

</html>
